body{
    background-color: #192a56;
    font-family: 'Francois One', sans-serif;

}

main{
    height: 95vh;
    width: 80%;
    margin: auto;
    
}
.box{
    padding: 20px;
}


h1{
    text-align: center;
    margin: 0;
    color: #487eb0;
    font-size: 80px;
}
#search_Submit{
    background-color:  #487eb0;
    color: #192a56;
    border: 0;
    height: 20px;
    margin-left: 5px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tag{
    
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.btn{
    margin-left: 5px;
    margin-top: 5px;
    background-color:  #192a56;
    color: #fa983a;
}


footer{
    height: 5vh;
}